Repository hmcts/ccd-admin-web, pull requests merged in 2020-08, with the labels that each got.

#326 enhance pipeline logic per build type
  Jenkinsfile_CNP
Labels: ns:ccd, prd:ccd, rel:ccd-admin-web-pr-326

#328 Update Chart.yaml
  charts/ccd-admin-web/Chart.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-admin-web-pr-328

#324 CCD Apps Not Working Develop-to-Develop on Preview
  Jenkinsfile_CNP
  bin/run-yarn-audit.sh
  charts/ccd-admin-web/values.preview.template.yaml
  package.json
Labels: ns:ccd, prd:ccd, rel:ccd-admin-web-pr-324
